COS_SECRECT_ID='Tencent-COS-Secrent-ID'
COS_SECRECT_KEY='Tencent-COS-Secrent-Key'
COS_REGION='ap-singapore' # e.g., ap-guangzhou, ap-singapore
COS_BUCKET='polyu-video-xxxx'

DASHSCOPE_API_KEY='sk-xxxxxxxxxxxxxxxxxx'